[Desktop Entry]
Comment=Tema WinXP (que imita Windows XP) para KDE Plasma
Name=WinXP
X-KDE-PluginInfo-Author=Matías Saibene
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-Email=https://de-todo-un-poco-computacion-e-ideas.blogspot.com/
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=WinXP
X-KDE-PluginInfo-Version=1.0.42
X-KDE-PluginInfo-Website=https://de-todo-un-poco-computacion-e-ideas.blogspot.com/
